@import '../../../../assets/less/varibles';

.doctorTabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  flex: 1;
  .tab_header {
    display: flex;
  }
  .item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    &.current {
      width: 100%;
      color: #0084ff;
    }
    &.current::after {
      content: "";
      width: 100px;
      height: 1px;
      background-color: #0084ff;
      position: absolute;
      bottom: 0px;
    }
    &:first-child{
      border-right: 0.5px solid #eaeaea;
    }
  }

  .reservaes {
    display: none;
    &.current {
      display: block;
      z-index: 10;
    }
  }
}
