@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1581663699704'); /* IE9 */
  src: url('./iconfont.eot?t=1581663699704#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK0AAsAAAAABmQAAAJnAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsgREBNgIkAwgLBgAEIAWEbQc0G7sFEdWTB2Q/Emw3XBWEIegTd8MGNcHz79rnfUnmb5ZQAaAk4gKCYuMJVLeqrJZAFVD2VM7inANXoyLUSM4eNfpCUhhnOQXAweX0V0CBzAPKZY7JYwIGlga0N7bJSiTzhrELXuB5COBDNJlIVU1TFxaDPU0A2TM/O44teDEYlrAInoa1BrmNg1U31Se4FX1ffueLBYWjsUvaZqqnKPt23UnRF9wLQwGCDwS02QE0kAkYkK7GaAsaYWSNT9QQD8cqFPh23XUDPXJUDcL+OjvfD4BIyH0mnsd/1HwFgEm6o4HiSfuDCvE7vbzcvbzU1V3Us7TUs7LSu7ravZRn17BiUS96ZGRo2SFeHcudyZ6N3Lj2rq59Wludav8fuK96d13Xz/izyaff3r9YfL18+lT7ohuUDTkZC4quwz6UAeAuaOc3ZQgg8PfFmy+jgUX/rK8BYGPPzGLkdhcMw+xgd24T+Em8gU3GENg6ZTReo10RPWmqAnzwAVywM4SdqcrwO0oKlvD7snsRlYHGkogaUiY4+FIIHiyl4EMGtZt9CeUQGjHeQDpXAQhBPABFAK9BE8Rn1JC2TQ4RkA/BQ5Bo8KFHQvf0JVmsqA6MWtCB+UO0y0yuQVRceEP/HjXnBRHlhbzHALRVU05ccEZeYsH+8Z0IAfEywRlchuO4wMpLQitVEFn7uqamN1V2mTKVHRi1oAPzh2iXmYLOoiqfv6F/j5o7yurML+Q99g5t1QxAL9J5UNmjXLN/fCdCQLxMcAajcBwXWJtHJbRShQnhta+ddjRUWm0vn34gh1Vhq4rc6VdmivTsnU4x0GQZAAA=') format('woff2'),
  url('./iconfont.woff?t=1581663699704') format('woff'),
  url('./iconfont.ttf?t=1581663699704') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont.svg?t=1581663699704#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


