@import '../../assets/less/varibles';
.intelligentWaitingContainer {
  .container();
}
.intelligentWaiting_background {
  background: white;
  .intelligentWaiting_title {
    align-content: center;
    height: 50px;
  }
  .intelligentWaiting_container {
  }
}
