.hospitalsItem {
  height: 100vm;
  position: fixed;
  top: 82px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: white;
  overflow: hidden;
}

.hospitalsItem__con {
  padding: 20px;
  border-bottom: solid 1px #e1e1e1;
  overflow: hidden;

}

.hospitalsItem__title {
  font-size: 16px
}

.hospitalsItem__middle {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  .hospitalsItem__middle__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    .hospitalsItem__middle__icon{
      width: 10px;
      height: 10px;
      margin-right: 3px;
      overflow: hidden;
    }
    .hospitalsItem__middle__innerTxt {
      margin-right: 10px;
      font-size: 10px;
      color: cornflowerblue;
    }
  }
}

.hospitalsItem__bottom {
  font-size: 13px;
  color: #666666;
}