@import "../../../../assets/less/varibles";
.reportItem {
  .reportItem__item {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 80px;
    background: white;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;

    .reportItem__item__info {
      background-color: white;
      padding: 10px 0;

      .item__info__row {
        padding: 0 20px 0 15px;
        height: 40px;
        line-height: 40px;
        flex-direction: row;
        display: flex;
        justify-content: space-between;

        .row_info_title {
          font-size: 16px;
          color: #7e8c8d;
        }

        .row_info_detail {
          font-size: 17px;
          color: #0084ff;
        }
      }
    }
  }
}

.rightIcon_position {
  position: absolute;
  right: 5px;
}


