@import "../../../../assets/less/varibles";

.doctorVisiting {
  //.container();
  position: relative;
  .doctorVisiting__title {
    flex: 1;
    height: 40px;
    background: white;
    display: flex;
    padding: 5px 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    .doctorVisiting__title__right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .am-icon {
      margin-left: 30px;
      transform: rotate(-90deg);
    }
  }
  .clinic__box {
    position: fixed;
    right: 40px;
    min-width: 120px;
    height: 200px;
    background: white;
    transform-origin: 50% 100%;
    overflow: hidden;
    z-index: 1;
    .box__item {
      display: block;
      height: 40px;
      max-width: 120px;
      line-height: 40px;
      padding-left: 10px;
      font-size: 15px;
      color: rgb(130, 130, 130);
      box-sizing: border-box;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .doctorVisiting__list {
    z-index: 0;
    position: fixed;
    top: 300px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: white;
    overflow: hidden;
    .doctorVisiting__item {
      height: 40px;
      padding: 10px 20px;
      display: flex;
      box-sizing: border-box;
      background: white;
      align-items: center;
      justify-content: space-between;
      .doctorVisiting__item__desc {
        font-size: 12px;
      }
      .item__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        .item__right__price {
          color: #0084ff;
          margin-right: 10px;
          font-size: 12px;
        }
        .item__right__icon {
          background: #c0c0c0;
          width: 35px;
          height: 20px;
          box-sizing: border-box;
          line-height: 20px;
          text-align: center;
          box-sizing: border-box;
          font-size: 12px;
          border-radius: 3px;
          color: white;
        }
        .icon__selBg {
          background: #0084ff;
        }
      }
    }
  }
}

.am-modal-content {
  padding-top: 0;
  .am-modal-header {
    padding: 10px 0;
    .am-modal-title {
      font-size: 15px;
    }
  }
  .doctorVisiting__timeInterval {
    height: 200px;
    overflow: auto;
    .popup-list__item {
    }
  }
  .am-modal-button {
    height: 50px;
    line-height: 50px;
  }
}
