@import "../../../../assets/less/varibles";

.doctorVisiting {
  position: relative;
  .doctorVisiting__title {
    height: 40px;
    background: white;
    display: flex;
    padding: 5px 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    border-bottom: @border-LightGrey;
    .doctorVisiting__title__right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .am-icon {
      margin-left: 30px;
      transform: rotate(-90deg);
    }
  }
  .clinic__box {
    position: absolute;
    right: 50px;
    width: 80px;
    height: 150px;
    background: white;
    border: @border-LightGrey;
    transform-origin: 50% 100%;
    overflow: hidden;
    .box__item {
      display: block;
      height: 30px;
      line-height: 20px;
      padding: 5px 5px 0;
      font-size: 12px;
      color: rgb(130,130,130);
      border-bottom: @border-LightGrey;
      box-sizing: border-box;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .doctorVisiting__list {
    z-index: -1;
    position: fixed;
    top: 279px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: white;
    overflow: hidden;
    .doctorVisiting__item {
      height: 35px;
      padding: 10px 20px;
      display: flex;
      box-sizing: border-box;
      background: white;
      align-items: center;
      border-bottom: @border-LightGrey;
      justify-content: space-between;
      .item__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        .item__right__price {
          color: #007FFE;
          margin-right: 10px;
          font-size: 12px;
        }
        .item__right__icon {
          background: #007FFE;
          width: 30px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          box-sizing: border-box;
          font-size: 10px;
          border-radius: 3px;
          color: white;
        }
      }
    }
  }
}
