@import '../../../../assets/less/varibles';

.doctorTabs {
  display: flex;
  width: 100%;
  background: white;
  height: 40px;
  line-height: 40px;
  flex-direction: row;
  flex: 1;
  color: #686868;
  .doctorTabs__tabsLeft {
    width: calc(50% - 0.5px);
    text-align: center;
    height: 40px;
    line-height: 40px;
  }

  .doctorTabs__tabsRight {
    flex: 1;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }

  .itemSelected {
    color: @theme-font-color;
  }
}
