.hospitalizationManagement {
  .hospitalizationManagement_hospitalization {
    margin-top: 10px;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    position: relative;
    justify-content: space-between;

    .hospitalizationManagement_hospitalization_text_Style {
      font-size: 17px;
      color: #7e8c8d;
    }

    .hospitalization_right {
      display: inline-block;
      display: flex;
      align-items: center;

      .hospitalization_right_text_Style {
        font-size: 17px;
      }
    }
  }

  .hospitalizationManagement_hospitalization_info {
    background-color: white;
    padding: 10px 0;

    .hospitalization__row {
      padding: 0 20px 0 15px;
      height: 30px;
      line-height: 30px;
      flex-direction: row;
      display: flex;
      justify-content: space-between;

      .row_info_title {
        font-size: 16px;
        color: #7e8c8d;
      }

      .row_info_detail {
        font-size: 17px;
      }
    }
  }

  .hospitalizationManagement_bottomListRow {
    background-color: white;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.rightIcon_position {
  position: absolute;
  right: 5px;
}


