.bindCard__list {
  height: 50px;
  box-sizing: border-box;
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .bindCard__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    //background: #00a0dc;
    .bindCard__icon {
      width: 25px;
      height: 25px;
      overflow: hidden;
      margin: 0 5px 0 0;
    }
  }
}
