.makeUpAdvancePayment {
  .makeUpAdvancePayment_header {
    background-color: white;
    padding: 5px 20px;

    .makeUpAdvancePayment_header_row {
      height: 30px;
      line-height: 30px;
    }
  }
}


