@import "../../../../assets/less/varibles";

.reservaes {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  //border-bottom: @border-LightGrey;
  padding: 10px;
  height: 60px;
  box-sizing: border-box;
  position: relative;
  .reservaes__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-right: 1px;
    .reservaes__top {
      margin-bottom: 5px;
      font-size: 13px;
    }
    .reservaes__bottom {
      font-size: 13px;
    }
  }
  .boxSel {
    background: @theme-blue;
    color: white;
  }
  .reservaes__more {
    position: absolute;
    right: 10px;
    color: grey;
  }
}