@import "../../../../assets/less/varibles";

.reservaes-content {
  color: #999999;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  min-height: 35px;
  font-size: 12px;
  z-index: 98;
  border-bottom: 1px solid #eaeaea;
  .reservaes-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border-top: 0.5px solid #eaeaea;
    border-right: 0.5px solid #eaeaea;
    border-bottom: 0.5px solid #eaeaea;
    &:first-child{
      border-left: 0.5px solid #eaeaea;
    }
    &.active {
      background: @theme-blue;
      color: white;
    }
  }

  .reservaes-more {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
