@import "../../../../assets/less/varibles";

.doctorDesc {
  background: white;
  padding: 15px 20px 20px 20px;
  border-bottom: 1px solid rgb(213, 213, 213);
  >div {
    font-size: 15px;
  }
  .doctorDesc__info {
    margin-top: 15px;
    .doctorDesc__experience__goodAt {
      margin-bottom: 3px;
      font-size: 14px;
      color: rgb(130, 130, 130);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
