//主题色
@theme-blue: #0084ff;
//文字选中主题色
@theme-font-color: #0084ff;
//border-亮灰色
@border-Gainsboro: 0.5px solid #DCDCDC;
//border-白烟
@border-WhiteSmoke: 0.5px solid #F5F5F5;
//border-浅灰色
@border-LightGrey: 0.5px solid #D3D3D3;
//border-银白色
@border-Silver: 0.5px solid #C0C0C0;
//border-深灰色
@border-DarkGray: 0.5px solid #A9A9A9;
//高度
@navScrolH: 81px;
//解决切换动画 loading 不在屏幕中间
.container() {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}


