body {
    -webkit-overflow-scrolling: touch;
    background-color: white;
}
.elem {
    overflow: auto;
}

input:-webkit-autofill,select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white  inset !important;
}


input{
    outline-color: invert ;
    outline-style: none ;
    outline-width: 0px ;
    border: none ;
    border-style: none ;
    text-shadow: none ;
    -webkit-appearance: none ;
    -webkit-user-select: text ;
    outline-color: transparent ;
    box-shadow: none;
}

img {
    content: normal !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.0) {
    .border-bottom::after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

/* 3倍屏 */
@media only screen and (-webkit-min-device-pixel-ratio: 3.0) {
    .border-bottom::after {
        -webkit-transform: scaleY(0.33);
        transform: scaleY(0.33);
        color: rgb(151, 127, 127);
    }
}